<% provide(:title, "Trekkers") %>

<div class="land-panel">
	<!-- <div class="form_button"> -->
		<ul>
			<!-- <li><a href = "#" class = "left_first page_link">Previous</a></li> -->
			<li><%= link_to 'Previous', previous_path, class: "left_first page_link" %></li>
			<li><a href = "#" class = "page_link">Upcoming</a></li>
			<li><a href = "#" class = "page_link">About Us</a></li>
			<!-- <li><a href = "#" class = "right_first for_form">Login</a></li> -->
			<li><%= link_to 'Login', login_path, class: "right_first for_form" %></li>
			<!-- <li><a href = "#" class = "for_form">Register</a></li> -->
			<li><%= link_to 'Register', register_path, class: "for_form" %></li>
		</ul>

		<div class="logo">TREKKERS LOGO</div>

	<!-- 	<div id = "frnt-container">
			
			<span class="message">Explore.Experience.Live</span>
		</div> -->

		

	<!-- </div> -->
	</div>
	<div class="lower-panel">
		<h1>SECOND PAGE GOES HERE</h1>
	</div>